<%- contentFor('title') %>
User
<%- contentFor('cssLinks') %>
<link href="/public/css/libraries/bootstrap3.min.css" rel="stylesheet">
<link rel="stylesheet" href="/public/css/index.css">
    
<%- contentFor('body') %>

<div class="container app">
    <div class="row app-one">
      <div class="col-sm-4 side">
        <div class="side-one">
          <div class="row heading">
            <div class="col-sm-3 col-xs-3 heading-avatar">
              <div class="heading-avatar-icon">
                <img src="/public/images/default-avatar.jpg">
              </div>
            </div>
            <div class="col-sm-1 col-xs-1  heading-dot  pull-right">
              <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>
            </div>
            <div class="col-sm-2 col-xs-2 heading-compose  pull-right">
              <i class="fa fa-comments fa-2x  pull-right" aria-hidden="true"></i>
            </div>
          </div>
  
          <div class="row searchBox">
            <div class="col-sm-12 searchBox-inner">
              <div class="form-group has-feedback">
                <input id="searchText" type="text" class="form-control" name="searchText" placeholder="Search">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
              </div>
            </div>
          </div>
  
          <div class="row sideBar">
            <% for(const room of rooms){  %> 
            <a class="row sideBar-body" href="/user/chat/<%=room.id%>" >
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  <img src="/public/images/default-avatar.jpg">
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta"><%=room.isGroup ?  room.name : room.users.find(val => val.email !== email).email  %> 
                  </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    <span class="time-meta pull-right">18:18
                  </span>
                  </div>
                </div>
              </div>
            </a>
            <% } %> 
          </div>
        </div>
  
        <div class="side-two">
          <div class="row newMessage-heading">
            <div class="row newMessage-main">
              <div class="col-sm-2 col-xs-2 newMessage-back">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
              </div>
              <div class="col-sm-10 col-xs-10 newMessage-title">
                New Chat
              </div>
            </div>
          </div>
  
          <div class="row composeBox">
            <div class="col-sm-12 composeBox-inner">
              <div class="form-group has-feedback">
                <input id="composeText" type="text" class="form-control" name="searchText" placeholder="Search People">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
              </div>
            </div>
          </div>
  
          <div class="row compose-sideBar">
            <% for(const user of users){ %>
            <a class="row sideBar-body" href="/user/create-room/<%=user.email%>">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  <img src="/public/images/default-avatar.jpg">
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta"><%=user.email%>
                  </span>
                  </div>
                  
                </div>
              </div>
            </a>
            <% } %>
        
          </div>
        </div>

      </div>
  
      <!-- message header -->
      <div class="col-sm-8 conversation">
          <h1 class="text-center">Choose user to open chat</h1>
      </div>
  
  
      
    </div>
  </div>
  

<form action="/user/logout" style="margin-left:300px;" method="post">
    <input type="hidden" name="_token" value="<%=_token%>">
    <button type="submit" class="btn btn-danger">Logout</button>
</form>


<%- contentFor('jsLinks')  %>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/socket/connection.js"></script>